Put your client_id, client_secret, and redirect_uri below, delete this line, and save this file as '~/.spotify-terminal/credentials.' The credentials can be retrieved by creating an app at https://developer.spotify.com/my-applications.

{"client_id": "PASTE ME",
 "client_secret": "PASTE ME",
 "redirect_uri": "PASTE ME"
}